# Terraform core
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfstate*

# Terraform plans, vars, secrets
*.tfvars
*.tfvars.json
*.tfplan
*.pem
*.key
*.env

# Terraform crash logs
crash.log

# VS Code
.vscode/

# Python/Ansible cache
__pycache__/
*.pyc
